<!DOCTYPE html><html prefix="og: http://ogp.me/ns#">

<head>
<meta charset="utf-8">
<title>{{page.title}}</title>
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@zmousm">
<meta name="twitter:title" content="{{page.title}}" />
<meta name="twitter:description" content="{{page.description}}" />
<meta name="twitter:image" content="{{site.baseurl}}/headline.png" />
<meta property="og:title" content="{{page.title}}" />
<meta property="og:description" content="{{page.description}}" />
<meta property="og:url" content="{{site.baseurl}}/" />
<meta property="og:image" content="{{site.baseurl}}/headline.png" />
<meta property="og:type" content="website" />
<!-- https://github.com/sindresorhus/github-markdown-css -->
<link rel="stylesheet" href="github-markdown.css">
<style>
    .markdown-body {
        min-width: 200px;
        max-width: 790px;
        margin: 0 auto;
        padding: 30px;
    }
</style>
</head>
<body>
<article class="markdown-body">
{{content}}
</article>
</body>

</html>
